In [1]:
import pandas as pd

In [16]:
df1 = pd.read_csv("source/info_temp/0-4.csv", index_col=[0])
df2 = pd.read_csv("source/info_temp/4-100.csv", index_col=[0])
df3 = pd.read_csv("source/info_temp/101-155.csv", index_col=[0])
df4 = pd.read_csv("source/info_temp/156-440.csv", index_col=[0])
df5 = pd.read_csv("source/info_temp/441-855.csv", index_col=[0])
df6 = pd.read_csv("source/info_temp/856-1368.csv", index_col=[0])
df7 = pd.read_csv("source/info_temp/1369-1839.csv", index_col=[0])
df8 = pd.read_csv("source/info_temp/1840-1932.csv", index_col=[0])
df9 = pd.read_csv("source/info_temp/1933-2025.csv", index_col=[0])

In [17]:
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0).drop_duplicates(subset=['id'], keep='last')
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1927 entries, 0 to 80
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1926 non-null   float64
 1   title      1927 non-null   object
 2   price      1927 non-null   object
 3   mileage    1927 non-null   object
 4   highlight  232 non-null    object
 5   overview   1927 non-null   object
dtypes: float64(1), object(5)
memory usage: 105.4+ KB

In [27]:
df_all = df_all.dropna(subset=['id'])

In [28]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1926 entries, 0 to 80
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1926 non-null   float64
 1   title      1926 non-null   object
 2   price      1926 non-null   object
 3   mileage    1926 non-null   object
 4   highlight  232 non-null    object
 5   overview   1926 non-null   object
dtypes: float64(1), object(5)
memory usage: 105.3+ KB

In [29]:
df_all.to_csv("source/carmax_product_info.csv", index=False)